services:
  {{ table_name }}_db:
    container_name: {{ table_name }}_db
    image: postgres:15
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    networks:
      - service_network
    volumes:
      - {{ table_name }}_pgdata:/var/lib/postgresql/data

  {{ table_name }}_service:
    container_name: {{ table_name }}_service
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DB_HOST: {{ table_name }}_db
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
    depends_on:
      - {{ table_name }}_db
    command: [ "uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000" ]
    env_file:
      - .env
    volumes:
      - .:/app
    working_dir: /app
    networks:
      - service_network
    ports:
      - "{{ port }}:8000"

volumes:
  {{ table_name }}_pgdata:

networks:
  service_network:
    external: true
